<!DOCTYPE html>
<html>
<head>
  <title>Фитнес</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <h1>Фитнес</h1>
  <div class="ul2">
    <ul>
      <li><a id="exercises">Упражнение</a></li>
      <li><a id="diet">Диета</a></li>
      <li><a id="stretching">Растяжка</a></li>
    </ul>
  </div>
  <p>
    Фитнес (англ. fitness, от to fit) – вид физических нагрузок, которые направлены на поддержание общей
    физической формы. Кроме физических нагрузок, фитнес предполагает здоровое питание. <br>
    Всё это подбирается индивидуально — в зависимости от возраста, состояния здоровья, строения и особенностей
    фигуры. Занятия фитнесом улучшают:гибкость,выносливость,силу,равновесие и координацию,реакцию и скорость.<img
      src="/images/1.jpg" width="600px "></p>
  <form action="/exercises" method="post">
    <input type="submit" name="exercises" hidden>
  </form>
  <form action="/diet" method="post">
    <input type="submit" name="diet" hidden>
  </form>
  <form action="/stretching" method="post">
    <input type="submit" name="stretching" hidden>
  </form>
  <script>
    let exercises = document.querySelector('#exercises')
    exercises.onclick = function exercises() {
      document.querySelector('[name="exercises"]').click()
    }
    let diet = document.querySelector('#diet')
    diet.onclick = function diet() {
      document.querySelector('[name="diet"]').click()
    }
    let stretching = document.querySelector('#stretching')
    stretching.onclick = function stretching() {
      document.querySelector('[name="stretching"]').click()
    }
  </script>

</body>

</html>